.dynamiccreateelement__outer {
  position: relative;
}

.__ghost {
  width: 0px;
  height: 0px;
  background-color: rgba(255, 0, 0, 0.2);
  position: absolute;
  top: 0;

  -webkit-user-select: none; 
    -moz-user-select: none;    
    -khtml-user-select: none;  
    -ms-user-select: none;    
    -o-user-select: none;
    user-select: none; 
}